.Box {
  border-radius: 10px;
}

.writer {
  font-weight: bold;
  margin: 0;
  margin-right: 10px;
}
.date {
  font-size: 0.9rem;
  margin-top: 8px;
  margin-left: 5px;
}

.replyButton {
  position: relative;
  display: inline-block;
  cursor: pointer;
  /* border-bottom: 1px dotted black; */
}

.replypopup .replyButton {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.replyButton:hover .replypopup {
  visibility: visible;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
