.overlayout {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
.show {
  display: block;
  position: relative;
  animation: mymove 1s;
}
.hide {
  display: none;
  overflow: hidden;
}
