.threeDivs {
  max-width: 80%;
  width: 80%;
  z-index: 1;
  justify-content: center;
  display: block;
  position: absolute;
  bottom: 10%;
  right: 45%;
  text-align: center;
  justify-self: center;
  justify-content: center;
  transform: translateX(50%);
  cursor: pointer;
}
.items {
  width: 300px;
  height: 140px;
  background-color: rgb(205, 205, 205, 0.7);
  border-radius: 7px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.items:hover {
  background-color: rgb(205, 205, 205);
}
.items:nth-child(2) {
  margin: 0 2%;
}
.container {
  width: 80%;
  height: 60%;
  display: flex;
}
.sectionBox {
  width: 80%;
  height: 100%;
  color: #000;

  direction: rtl;
}
.span1 {
  font-size: 2rem;
  display: block;
  font-weight: bold;
}
.span2 {
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  left: -3px;
}
.span2:hover {
  left: -8px;
}

.span2 > span {
  font-family: tahoma;
  font-weight: 900;
}
.icon {
  direction: rtl;
  width: 45%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  /* padding-left: 10px; */
  transition: 0.4s;
  /* margin: 0 3%; */
}
.icon > img {
  width: 70%;
  height: 70%;
  transition: 0.5s;
  cursor: pointer;
  object-fit: fill;
}
.icon:hover {
  scale: 1.1;
}

@media (min-width: 220px) {
  .threeDivs {
    max-width: 80%;
    width: 80%;
    z-index: 1;
    justify-content: center;
    display: block;
    position: absolute;
    bottom: 0%;
    right: 30%;
    text-align: center;
    justify-self: center;
    justify-content: center;
    transform: translateX(50%);
    cursor: pointer;
    margin-top: 400px;
  }
}
@media (min-width: 600px) {
  .threeDivs {
    max-width: 80%;
    width: 80%;
    z-index: 1;
    justify-content: center;
    display: block;
    position: absolute;
    bottom: 0%;
    right: 25%;
    text-align: center;
    justify-self: center;
    justify-content: center;
    transform: translateX(50%);
    cursor: pointer;
    margin-top: 400px;
  }
}
@media (min-width: 883px) {
  .threeDivs {
    max-width: 80%;
    width: 80%;
    z-index: 1;
    justify-content: center;
    display: block;
    position: absolute;
    bottom: 10%;
    right: 50%;
    text-align: center;
    justify-self: center;
    justify-content: center;
    transform: translateX(50%);
    cursor: pointer;
    margin-top: 400px;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  .threeDivs {
    max-width: 80%;
    width: 80%;
    z-index: 1;
    justify-content: center;
    display: block;
    position: absolute;
    bottom: 10%;
    right: 45%;
    text-align: center;
    justify-self: center;
    justify-content: center;
    transform: translateX(50%);
    cursor: pointer;
  }
}
