/* Style the accordion section */
.accordion__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: iran-yekan;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #f0f0f0;
  color: #444;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  font-family: iran-yekan;
}
.activeAcca {
  background-color: #cccccc;
}
.subaccordion {
  margin-left: auto;

  color: #444;
  cursor: pointer;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  font-family: iran-yekan;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
  background-color: #ccc;
}
.accordion:active {
  background-color: darkmagenta;
}

/* Style the accordion content title */
.accordion__title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0px;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-right: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
  /* display: none; */
}

/* Style the accordion content text */
.accordion__text {
  font-weight: 400;
  font-size: 14px;
  padding: 3px;
  padding-top: 7px;
}
